## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [5]:
import pandas as pd

In [15]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [99]:
male_count = (data['sex'] == 'Male').sum()
female_count = (data['sex'] == 'Female').sum()
print(f'male count: {male_count}')
print(f'female count: {female_count}')

male count: 21790
female count: 10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [86]:
avg_age_male = data[data['sex'] == 'Male']['age'].mean()
print(f'avg age male: {avg_age_male}')

avg age male: 39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [85]:
total_recs = data.shape[0]
us_citezens = (data['native-country'] == 'United-States').sum()
us_citezens_percent = us_citezens / total_recs * 100
print(f'us citezens percent : {us_citezens_percent:.2f} %')

us citezens percent : 89.59 %

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [83]:
avg_age_less50 = data[data['salary'] == '<=50K']['age'].mean()
std_age_less50 = data[data['salary'] == '<=50K']['age'].std()
avg_age_above50 = data[data['salary'] == '>50K']['age'].mean()
std_age_above50 = data[data['salary'] == '>50K']['age'].std() 
print(f'avg age less 50K: {avg_age_less50}')
print(f'avg age less 50K : {std_age_less50}')
print(f'avg age above 50K: {avg_age_above50}')
print(f'std age above 50K : {std_age_above50}')

avg age less 50K: 36.78373786407767
avg age less 50K : 14.02008849082488
avg age above 50K: 44.24984058155847
std age above 50K : 10.519027719851826

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [45]:
higher_education = [  
    "Bachelors",   
    "Prof-school",   
    "Assoc-acdm",   
    "Assoc-voc",   
    "Masters",   
    "Doctorate"  
]
high_earners = data[data['salary'] == '>50K']  
is_high_earners_have_higher_education = all(high_earners['education'].isin(higher_education))
if is_high_earners_have_higher_education:
    print(f'{is_high_earners_have_higher_education} Все люди, получающие больше 50K, имеют минимум высшее образование.')
else:
    print(f'{is_high_earners_have_higher_education} НЕ Все люди, получающие больше 50K, имеют минимум высшее образование.')

False НЕ Все люди, получающие больше 50K, имеют минимум высшее образование.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [47]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(age_stats)
max_male_age_asian_pac_islander = data[(data['sex'] == 'Male') & (data['race'] == 'Asian-Pac-Islander')]['age'].max()
print(f'max_male_age_asian_pac_islander: {max_male_age_asian_pac_islander}')

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
max_male_age_asian_pac_islander: 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [91]:
married_statuses = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
married_higher_earners = data[(data['salary'] == '>50K') & (data['marital-status'].isin(married_statuses) & (data['sex'] == 'Male'))].shape[0]
unmarried_higher_earners = data[(data['salary'] == '>50K') & (~data['marital-status'].isin(married_statuses) & (data['sex'] == 'Male'))].shape[0]
total_higher_earners = married_higher_earners + unmarried_higher_earners
married_percent = married_higher_earners / total_higher_earners * 100
unmarried_percent = unmarried_higher_earners / total_higher_earners * 100
print(f'Married percent: {married_percent:.2f} %')
print(f'Unmarried percent : {unmarried_percent:.2f} %')

Married percent: 89.54 %
Unmarried percent : 10.46 %

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [90]:
max_hour_per_week = data['hours-per-week'].max()
print(f'Max hours per week : {max_hour_per_week} hours')
max_hour_earners = data[data['hours-per-week'] == max_hour_per_week].shape[0]
print(f'Number of people who work max hours : {max_hour_earners}')
max_hours_higher_earners = data[(data['hours-per-week'] == max_hour_per_week) & (data['salary'] == '>50K')].shape[0]
max_hours_higher_earners_percent = max_hours_higher_earners / max_hour_earners * 100
print(f'Percent of people who work max hours and earn a lot: {max_hours_higher_earners_percent:.2f} %')

Max hours per week : 99 hours
Number of people who work max hours : 85
Percent of people who work max hours and earn a lot: 29.41 %

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [97]:
avg_hours_per_country = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().reset_index()
avg_hours_per_country.columns = ['native-country', 'salary', 'average_hours_per_week']
print(avg_hours_per_country)

   native-country salary  average_hours_per_week
0               ?  <=50K               40.164760
1               ?   >50K               45.547945
2        Cambodia  <=50K               41.416667
3        Cambodia   >50K               40.000000
4          Canada  <=50K               37.914634
..            ...    ...                     ...
77  United-States   >50K               45.505369
78        Vietnam  <=50K               37.193548
79        Vietnam   >50K               39.200000
80     Yugoslavia  <=50K               41.600000
81     Yugoslavia   >50K               49.500000

[82 rows x 3 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [102]:
def get_age_category(age):
	if 16 <= age <= 35:
		return 'young'
	elif 35 < age <= 70:
		return 'adult'
	elif 70 < age <= 100:
		return 'retiree'
	else:
		return None

data['AgeGroup'] = data['age'].apply(get_age_category)
print(data[['age','AgeGroup']])

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32561 rows x 2 columns]

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [113]:
higher_earners_by_agegroup = data[data['salary'] == '>50K'].groupby('AgeGroup').size().reset_index(name='Count')
print(f'higher earners by agegroup:\n  {higher_earners_by_agegroup}') 
higher_earners_group = higher_earners_by_agegroup.loc[higher_earners_by_agegroup['Count'].idxmax()]['AgeGroup']
print(f'Higher earners group:  {higher_earners_group}')

higher earners by agegroup:
    AgeGroup  Count
0    adult   6042
1  retiree     94
2    young   1705
Higher earners group:  adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [123]:
occupation_groups = data.groupby('occupation').size().reset_index(name='Count')
print(f'Occupation_groups :\n{occupation_groups}')

def filter_func(groups):
	avg_age = groups['age'].mean()
	all_workers_above_5hours = (groups['hours-per-week'] > 5).all()
	return avg_age <= 40 and all_workers_above_5hours

filterred_occupation_groups = data.groupby('occupation').filter(filter_func)
filtered_occupation_counts = filterred_occupation_groups.groupby('occupation').size().reset_index(name='Count')
print(f'Filterred occupation groups : \n {filtered_occupation_counts}')

Occupation_groups :
           occupation  Count
0                   ?   1843
1        Adm-clerical   3770
2        Armed-Forces      9
3        Craft-repair   4099
4     Exec-managerial   4066
5     Farming-fishing    994
6   Handlers-cleaners   1370
7   Machine-op-inspct   2002
8       Other-service   3295
9     Priv-house-serv    149
10     Prof-specialty   4140
11    Protective-serv    649
12              Sales   3650
13       Tech-support    928
14   Transport-moving   1597
filterred_occupation_groups :
      occupation  Count
0  Armed-Forces      9